NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY= <<SUA_CHAVE_KEY_AQUI>>
CLERK_SECRET_KEY= <<SUA_CHAVE_KEY_AQUI>>
DATABASE_URLDATABASE_URL= <<SUA_CHAVE_KEY_AQUI>>

STRIPE_SECRET_KEY= <<SUA_CHAVE_KEY_AQUI>>
STRIPE_PLAN_PRO_PRICE_ID= <<SUA_CHAVE_KEY_AQUI>>
STRIPE_WEBHOOK_SECRET= <<SUA_CHAVE_KEY_AQUI>>
NEXT_PUBLIC_STRIPE_CUSTOMER_PORTAL_URL=  <<SUA_CHAVE_KEY_AQUI>>