NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY= <<SUA_CHAVE_KEY_AQUI>>
CLERK_SECRET_KEY= <<SUA_CHAVE_KEY_AQUI>>
DATABASE_URLDATABASE_URL="postgresql://usuario:senha@ep-xyz-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require"